@import "./reset.css";

body {
  font-size: 18px;
  background-color: #141414;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.MuiInputBase-input {
  font-size: 24px !important;
}

.MuiFormLabel-root {
  font-size: 20px !important;
}

.recharts-default-tooltip {
  background-color: #141414 !important;
}

.recharts-legend-wrapper {
  left: 37px !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

.loading-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #141414;
  z-index: 1;
}

.loading-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  position: absolute !important;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  position: absolute !important;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }
}
