body {
  background-color: #141414;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.MuiInputBase-input {
  font-size: 24px !important;
}

.MuiFormLabel-root {
  font-size: 20px !important;
}

.recharts-default-tooltip {
  background-color: #141414 !important;
}
