body {
  background-color: #141414;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.MuiInputBase-input {
  font-size: 24px !important;
}

.MuiFormLabel-root {
  font-size: 20px !important;
}

.recharts-default-tooltip {
  background-color: #141414 !important;
}

.recharts-legend-wrapper {
  left: 37px !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }
}
